/* Blinker Class */
.blink {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.20;
  }
}

/* Player Module */
.vertical-center > tbody > tr > td {
     vertical-align: middle;
}

.control  {
    display: none;
}

#dataTables_paginate ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.caltime-padding .form-control:not(:first-child) {
    padding-left: 1rem;
}
.caltime-padding .form-control:not(:last-child) {
    padding-right: 2.5rem;
}
.caltime-padding .form-control:disabled, .form-control[readonly] {
    background-color: #fff;
}

table.dataTable tr.dtrg-group td {
    background-color: rgba(0,0,0,0.03);
    text-transform: uppercase;
    color: #6e7582;
}

/* Multi Uploader */
.dropzone {
    background: transparent;
    border: 1px solid rgba(110,117,130,.2)
}

@media not print {
  .theme-dark a:not(.btn) {
    color: #3E7BC1;
  }
  .theme-dark a:hover {
      color: #59A6FF;
  }
}
