/* Blinker Class */
.blink {
  animation: blinker 4s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.20;
  }
}

/* Player Module */
.vertical-center > tbody > tr > td {
     vertical-align: middle;
}

.control  {
    display: none;
}

#dataTables_paginate ul {
    margin-top: 0;
    margin-bottom: 0rem;
}

.caltime-padding .form-control:not(:first-child) {
    padding-left: 1rem;
}
.caltime-padding .form-control:not(:last-child) {
    padding-right: 2.5rem;
}
.caltime-padding .form-control:disabled, .form-control[readonly] {
    background-color: #fff;
}
