server {

        listen         9000;
        listen         [::]:9000;
        server_name    _;

        root       /var/www/html/monitor/;
        index      index.html index.php;
		    add_header 'Access-Control-Allow-Origin' '*';

        location / {
            try_files $uri $uri/ =404;
        }

        error_page 404 /404.html;
        location = /404.html {
                root /var/www/html/monitor/assets/tools/;
                internal;
        }

        location ~ \.php$ {
            fastcgi_pass  unix:/run/php/php{{MONITORING_PHP_VERSION}}-fpm.sock;
            fastcgi_index index.php;
            include       fastcgi_params;
            fastcgi_param SCRIPT_FILENAME    $document_root$fastcgi_script_name;
            fastcgi_param SCRIPT_NAME        $fastcgi_script_name;
        }
}
